.emo1{
border: 5px solid crimson;
width: 60px;
height: 20px;
margin-top: -180px;
margin-left:50px;
}

.emo2{
    border: 5px solid green;
    width: 60px;
    height: 20px;
    margin-left:150px;
    margin-top: 65px;
}

.emo3{
    border: 5px solid blue;
    width: 60px;
    height: 20px;
    margin-left: 250px;
    margin-top: 59px;
}

.box1{
 margin-left: 50px;  
}

.box2{
  margin-left: 150px;  
}

.box3{
 margin-left: 250px;   
}